In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

EDA

In [4]:
df = pd.read_csv('Social_Network.csv')

In [9]:
df.sample(5)

     Age  Salary  Purchased
231   39   42000          0
43    30   15000          0
59    32  117000          0
135   23   63000          0
24    46   23000          1

In [6]:
df = df.iloc[:,2:]

In [8]:
df.sample(5)

     Age  Salary  Purchased
95    35   44000          0
181   31   71000          0
31    27  137000          1
75    34  112000          1
88    26   81000          0

Split Train & Test

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.drop('Purchased',axis=1),df['Purchased'],test_size=0.25,random_state=0)

In [14]:
x_train.shape

(300, 2)

In [15]:
x_test.shape

(100, 2)